<ion-view title="Library">
	<ion-nav-buttons side="right">
		<button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content has-bouncing="true" class="has-header padding">
		<div class="item item-divider">
		Genres
		</div>
	<!-- <div class="row">
		<div class="col col-50">
			<div>test</div>
		</div>
		<div class="col col-50">
			<div>test</div>
		</div>
	</div> -->
	<ion-item ng-repeat="genre in genres" type="item-text-wrap" href="#/tab/library/{{genre.id}}">
		{{genre.name}}
	</ion-item>
	</ion-content>	

</ion-view>
