<ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content>
      <ion-nav-bar class="bar-positive nav-title-slide-ios7">    
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back"></ion-nav-back-button>
      </ion-nav-bar>      

      <ion-nav-view name="menuContenMain" animation="slide-left-right"></ion-nav-view>
      
      <ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-calm">


      <!-- Player Tab -->
      <ion-tab title="Player" icon="icon ion-play" href="#/tab/player">
        <ion-nav-view name="menuPlayer"></ion-nav-view>
      </ion-tab>


      <!-- Playlist Tab -->
      <ion-tab title="Playlist" icon="icon ion-document-text" href="#/tab/playlist">
        <ion-nav-view name="menuPlaylist"></ion-nav-view>
      </ion-tab>


      <!-- Browse Tab -->
      <ion-tab title="Browse" icon="icon ion-folder" href="#/tab/library">
        <ion-nav-view name="menuLibrary"></ion-nav-view>
      </ion-tab>


    </ion-tabs>
    </ion-pane>

    <!-- Right menu -->
    <ion-side-menu width="200" side="right">
      <header class="bar bar-header bar-calm">  
        <h1 class="title">Menu</h1>
      </header>
      
      <ion-content class="has-header">
        <ion-list>
          <ion-item nav-clear menu-close href="#/tab/player">
            <i class="icon ion-play"></i>
            Player
          </ion-item>
          <ion-item nav-clear menu-close href="#/tab/playlist">
            <i class="icon ion-document-text"></i>
            Playlist                
          </ion-item>
          <ion-item nav-clear menu-close href="#/tab/library">
            <i class="icon ion-folder"></i>
            Browse                
          </ion-item>
          <ion-item nav-clear menu-close ng-click="session.logout();" href="#">
            <i class="icon ion-log-out"></i>
            Logout                
          </ion-item>
          <ion-item nav-clear menu-close href="#/tab/player">
            <i class="icon ion-person"></i>
            About
          </ion-item>          
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>